global:
  scrape_interval: 10s
  evaluation_interval: 10s

rule_files:
  - /etc/prometheus/alert_rules.yml

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets:
          - prometheus:9090

  - job_name: demo_app
    metrics_path: /metrics
    static_configs:
      - targets:
          - app:8000

  - job_name: node_exporter
    static_configs:
      - targets:
          - node-exporter:9100